@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,800;0,900;1,100&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.fw-600 {
    font-weight: 600 !important
}

.btn-eliminar-item {
    font-size: 12px;
}